#app {
  height: 100%; // 确保整个页面占据全屏幕高度
}

body {
  height: 100%; // 确保整个页面占据全屏幕高度
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; // 设置了页面的默认字体族
  -webkit-font-smoothing: antialiased; // 在WebKit（Chrome、Safari）浏览器中改善字体的平滑度，使字体看起来更加清晰和平滑
  -moz-osx-font-smoothing: grayscale; // 在Mozilla（Firefox）浏览器中改善字体的平滑度，使字体看起来更加清晰和平滑
  margin: 0; // 页面的外边距设置为0，从而消除默认的页面外边距
}