// 全屏幕样式
html,
body,
#app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  --mall-menu-width: 180px; // 侧边栏宽度
}

// 优化体验
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; // 设置了页面的默认字体族
  -webkit-font-smoothing: antialiased; // 在WebKit（Chrome、Safari）浏览器中改善字体的平滑度，使字体看起来更加清晰和平滑
  -moz-osx-font-smoothing: grayscale; // 在Mozilla（Firefox）浏览器中改善字体的平滑度，使字体看起来更加清晰和平滑
}

// 侧边栏样式
.app-sidebar {
  height: 100%;
  width: var(--mall-menu-width) !important;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
}

// 主体部分样式
.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  height: 100vh;
  margin-left: var(--mall-menu-width);
  background-color: #f4f4f4;
  overflow-x: hidden;
}